/*THIS FILE IS AUTOMATICALLY PRODUCED FROM THEME SETTINGS
DO NOT MAKE CHANGES HERE */

@import "./reset.css";

@import "./fonts.css";

:root {
  font-size: 8px;
  --mobile: 0em;
  --lg-mobile: 64em;
  --tablet: 96em;
  --laptop: 124em;
  --desktop: 150em;
  --tv: 175em;
  --clr-primary: #fc3a79;
  --clr-secondary: #fe572e;
  --clr-blackish: #261f22;
  --clr-whitish: #f5f5f4;
  --clr-error: #dc2626;
  --font-display: var(--font-josefin-sans);
  --font-body: var(--font-montserrat);
  --padding: 2rem;
  --header-h: 2rem;
}

p: {
  color: var(--clr-blackish);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 2em;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: 0;
  word-spacing: 0;
  max-width: 60ch;
}

p + p {
  margin-top: 1rem;
}

h1: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 5em;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h2: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 3em;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h3: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 2em;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h4: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h5: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h6: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

subtitle1: {
  color: #261f22;
  font-family: var(--font-display);
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.15px;
}

subtitle2: {
  color: #261f22;
  font-family: var(--font-display);
  font-size: 1.4rem;
  font-weight: medium;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

@media (min-width: 36em) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 48em) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 62em) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 75em) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 87.5em) {
  :root {
    font-size: 18px;
  }
}
