/*THIS FILE IS AUTOMATICALLY PRODUCED FROM THEME SETTINGS
DO NOT MAKE CHANGES HERE */

@import "./reset.css";

@import "./fonts.css";

:root {
  font-size: 8px;
  --clr-primary: #fc3a79;
  --clr-secondary: #fe572e;
  --clr-blackish: #261f22;
  --clr-whitish: #f5f5f4;
  --clr-error: #dc2626;
  --font-body: var(--font-montserrat);
  --font-display: var(--font-josefin-sans);
  --font-special: var(--font-oleo-script);
  --font-mono: var(--font-space-mono);
  --fs-h3: 20px;
  --fs-h2: 25px;
  --fs-h1: 32px;
  --fs-p: 16px;
  --fs-small: 13px;
  --sp-header-height: 4rem;
  --sp-section-padding: 4rem;
}

p: {
  color: var(--clr-blackish);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: var(--fs-p);
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: 0;
  word-spacing: 0;
  max-width: 60ch;
}

h1: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: var(--fs-h1);
  line-height: 115%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h2: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: var(--fs-h2);
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h3: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: var(--fs-h3);
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h4: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h5: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

h6: {
  color: var(--clr-blackish);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

small: {
  color: var(--clr-blackish);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: var(--fs-small);
  line-height: 150%;
  font-variation-settings: "wght" 400;
  letter-spacing: -1.5px;
  word-spacing: -5px;
}

subtitle1: {
  color: #261f22;
  font-family: var(--font-display);
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.15px;
}

subtitle2: {
  color: #261f22;
  font-family: var(--font-display);
  font-size: 1.4rem;
  font-weight: medium;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

@media (min-width: 320px) {
  html: {
    font-size: 8px;
    --fs-h3: 20px;
    --fs-h2: 25px;
    --fs-h1: 32px;
    --fs-p: 16px;
    --fs-small: 13px;
  }
  body {
    font-size: 16px;
  }
}

@media (min-width: 481px) {
  html {
    font-size: 9px;
    --fs-h3: 21px;
    --fs-h2: 27px;
    --fs-h1: 34px;
    --fs-p: 17px;
    --fs-small: 13px;
  }
  body {
    font-size: 17px;
  }
}

@media (min-width: 769px) {
  html {
    font-size: 10px;
    --fs-h3: 23px;
    --fs-h2: 29px;
    --fs-h1: 36px;
    --fs-p: 18px;
    --fs-small: 14px;
  }
  body {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 11px;
    --fs-h3: 24px;
    --fs-h2: 30px;
    --fs-h1: 38px;
    --fs-p: 19px;
    --fs-small: 15px;
  }
  body {
    font-size: 19px;
  }
}

@media (min-width: 1201px) {
  html {
    font-size: 12px;
    --fs-h3: 25px;
    --fs-h2: 32px;
    --fs-h1: 40px;
    --fs-p: 20px;
    --fs-small: 16px;
  }
  body {
    font-size: 20px;
  }
}
