:root {
  --mobile: 0em;
  --lgMobile: 36em;
  --tablet: 48em;
  --laptop: 62em;
  --desktop: 75em;
  --tv: 87.5em;
  --clr-primary: #fc3a79;
  --clr-secondary: #fe572e;
  --clr-blackish: #261f22;
  --clr-whitish: #f5f5f4;
  --clr-error: #dc2626;
}
