.nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-between;
}
.nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-between;
  box-sizing: border-box;
  margin-top: 0;
  height: 3rem;
  background: white;
  align-items: center;
}
.nav li {
  list-style: none;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.nav li a {
  text-decoration: none;
  color: var(--clr-blackish);
  text-transform: uppercase;
  font-family: var(--font-display);
  font-size: 0.6rem;
  font-weight: normal;
  letter-spacing: none;
}
.nav li a:hover {
  color: var(--clr-primary);
}
