.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* container  - relative so child will position under it */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  min-width: max-content;
  max-height: 0; /* this will change  to block on open */
  position: absolute;
  height: 0;
  background-color: "var(--clr-whitish)";
  min-width: "100%";
  box-shadow: 0px 8px 16px 0 px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 999;
  transition: max-height 1s;
}

.open {
  display: block;
  max-height: 200px;
}

/* the link options */
.dropdowncontent li {
  color: "var(--clr-blackish)";
  font-family: "Arial", "Rubik", sans-serif;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  list-style-type: none;
  display: block;
}

/* change color of li on hover */
.dropdowncontent li:hover {
  background-color: white;
  color: var(--clr-primary);
}
