.dropbtn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: var(--clr-blackish);
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 13px;
  line-height: 29px;
  height: 29px;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100%;
}

/* container  - relative so child will position under it */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  min-width: 100%;
  max-height: 0; /* this will change  to block on open */
  position: absolute;
  top: 0;
  height: 0;
  background-color: var(--clr-whitish);
  min-width: "100%";
  box-shadow: 0px 8px 16px 0 px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 999;
  transition: max-height 1s;
}

.open {
  display: block;
  max-height: 200px;
}

/* the link options */
.dropdowncontent li {
  color: var(--clr-blackish50);
  background-color: var(--clr-whitish);
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
  list-style-type: none;
  display: block;
}

/* change color of li on hover */
.dropdowncontent li:hover {
  background-color: white;
  color: var(--clr-primary);
}
