/* CSS */
.btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: darkgray;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
}

.btn:hover {
  background-color: #f7fafa;
  color: var(--clr-primary);
}

.btn:focus {
  border-color: var(--clr-primary);
  color: var(--clr-primary);
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.icon {
  color: var(--clr-whitish);
  padding-top: 0;
  vertical-align: middle;
}

/* Style the tab */
.tabcontainer {
  border: 1px 1px 0px 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
}

/* Style the buttons inside the tab */
.tabbtn {
  flex: 1 1 0px;
  font-family: var(--font-forms);
  background-color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  height: 2rem;
  transition: 0.3s;
  color: gray;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tabbtn:hover {
  background-color: var(--clr-whitish);
}

/* Create an active/current tablink class */
.tabbtn.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
